 body, html {
        margin: 0
    }
    .img {
        justify-content: center;display: flex;
        background-color: #000000;
    }
    #logo-img {
        width: 50%;
        height: 400px;
    }
    .seccion {
    background-color: #000000; 
    height: 100vh; 
    display: flex; 
    justify-content:center; 
    align-items: center;
    text-align: center;
  }
  .columna h3 {
color:#ffffff;
font-size: 50px;
  }
  .container-fluid{
    background-color: transparent; 
    width: 60%;
    height: 500px;
    box-shadow: 0 0 100px rgb(6, 128, 147); 
    border-radius: 50px; 
    text-align:center;
  }

.form-blok {
    border: none; 
    height: 50px;
  }
  .boton-negro {
    background-color: #00a6ff; 
    border: none; 
    border-radius: 50px;
    height: 40px;
    width: 50%;
    font-size: 20px;
    margin-top: 20px;
    box-shadow: 0 0 30px #608dff;
  }
  .boton-negro:hover {
    background-color: #86fff5;
    box-shadow: 0 0 20px #89f3ff;
  }
  